.homework1 {
    background-color: plum;
    margin: 100px 50px;
    display: flex;
    width: 400px;
    height: 200px;
    justify-content: center;
    align-items: center;
}



.button_exercise1{
    background-color: plum;
    width: 225px;
    height: 70px;
    border: none;
    border-radius: 10px;
    text-shadow: 3px 3px 3px black;
    box-shadow: 2px 2px 3px white inset, 4px 4px 4px black;
    color: white;
    ;
}

.button_exercise1:active{
      box-shadow: 3px 3px 3px black inset, -3px -3px 3px white inset;
    text-shadow: 1px 1px 3px black; 
}





/* exercise3 */

.homework3{
    margin: 100px 50px;
}


h2{
    color: red;
    font-size: 140px;
    letter-spacing: 20px;
    animation-name: HideandShowH2;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}

 @keyframes  HideandShowH2 {
    0% {
     color: rgb(0 0 0 / 0);
    
  }

  100% {
    
    color: red;
}

} 


